app-user-card {
  display: block;
  //height: 100%;
  overflow: hidden;
  .user-card{
    display: flex;
    height: 100%;
    flex-direction: column;
    .content{
      flex: 1;
      overflow: auto;
    }
  }

  .content{
    flex: 1;
    overflow: auto;
    font-size: 28px;
  }
  .avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    img{
      height: 100px;
      width: 100px;
      border-radius: 50px;
      object-fit: cover;
    }
  }

  .name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  h1 {
    font-weight: bold;
    font-size: 18px;
  }

  h2 {
    font-weight: bold;
    font-size: 14px;
  }
}
