<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>IMAVD</b> Audio editor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <app-import-audio></app-import-audio>
    </ion-col>
    <ion-col size="12" size-xl="6">
      <div class="text-to-audio top">
        <h2>Text to speech</h2>
        <form class="example-form">
          <div class="tts-content">
            <ion-item class="text-area">
              <ion-label position="stacked">Type the text you want to translate</ion-label>
              <ion-textarea  rows="10" placeholder="Ex. My name is..." [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
              </ion-textarea>
            </ion-item>
            <div class="options">
              <ion-item>
                <ion-label>Language</ion-label>
                <ion-select [(ngModel)]="activeLanguage" [ngModelOptions]="{standalone: true}">
                  <ion-select-option *ngFor="let lang of languageService.langs" [value]="lang.code">
                    {{lang.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button [disabled]="!text" color="primary" (click)="textToSpeech()">Text to speech</ion-button>
            </div>
          </div>
        </form>
      </div>
    </ion-col>
    <ion-col size="12" size-xl="6">
      <app-speech-recognition></app-speech-recognition>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<div class="background">
  <img src="assets/images/audio-background-3.gif"/>
</div>
