/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --transition-duration: 800ms;
  --transition-function: cubic-bezier(0.25, 1, 0.5, 1);
  --transition-all: all var(--transition-duration) var(--transition-function);
}

ion-button {
  @extend .transition-all !optional;
}

.ngx-contextmenu.cdk-overlay-pane {
  background-color: rgba(var(--ion-color-medium-rgb), .5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 250px;

  li {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);

    &:hover {
      background-color: rgba(var(--ion-background-color-rgb), .8);
    }

    a {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 5px;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515;
}

.electron.mac-os {
  &:not(.fullscreen) {
    ion-toolbar {
      --padding-top: 35px;
      padding-bottom: 15px;
    }
  }
}
