<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image Editor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="imagePreview" #imagePreview>
<canvas #canvasElement (click)="clickColor($event)"></canvas>

      <img #imageElement *ngIf="imageUrl&& !showCropper" [src]="imageUrl"  (load)="onImageLoad($event)"  />
      <image-cropper *ngIf="showCropper" [imageChangedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)"
        [maintainAspectRatio]="false"></image-cropper>
    </div>
    <div class="details">
        <ion-button *ngIf="!imageUrl else imageData" (click)="imageInput.click()">
          Import image
        </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #imageData>
  <ion-list mode="ios" lines="none">
    <ion-list-header>
      Image Information
    </ion-list-header>

    <ion-item>
      <ion-card>
        <ion-card-content>
          <app-card-item *ngFor="let item of imageMetadata" [item]="item">
          </app-card-item>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-list-header>
      Pixel counter
    </ion-list-header>
    <ion-button class="picker-button" expand="block" [fill]="pickColorActive ? 'solid' : 'outline'" (click)="pickColorActive=!pickColorActive">
      Pick color
    </ion-button>

    <div class="flex picker-info">
      <div class="picker" [ngStyle]="{'background-color': pickedColor}">

      </div>
      <span class="flex-1 text-left">{{pixelCount}} px</span>
    </div>

    <ion-button class="picker-button" expand="block" [fill]="showCropper ? 'solid' : 'outline'"
      (click)="showCropper=!showCropper">
      Crop Image
    </ion-button>
    <ion-button *ngIf="!showCropper" class="picker-button" expand="block" (click)="saveImage()">
      Save Image
    </ion-button>
  </ion-list>
</ng-template>

<input #imageInput
       type="file"
       accept="image/*"
       hidden
       (change)="processFile($event, imageInput)">
