<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>IMAVD</b> Image Editor
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" *ngIf="!showCropper" class="picker-button" expand="block" (click)="saveImage()">
        Save Image
        <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="app-container">
    <div class="imagePreview" #imagePreview>
      <app-canvas #appCanvas
                  [pickColorActive]="pickColorActive"
                  [showCropper]="showCropper"
                  [imageUrl]="imageUrl"
                  [imageChangedEvent]="imageChangedEvent"
                  (nPixels)="pixelCount = $event"
                  (onImageLoadEvent)="onImageLoad($event)">
      </app-canvas>
    </div>
    <div class="details">
      <ion-button *ngIf="!imageUrl else imageData" (click)="imageInput.click()">
        Import image
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #imageData>
  <ion-list mode="ios" lines="none">
    <app-expandable-card title="Image details" icon="information-circle-outline">
      <ion-card>
        <ion-card-content>
          <app-card-item *ngFor="let item of imageMetadata" [item]="item">
          </app-card-item>
        </ion-card-content>
      </ion-card>
    </app-expandable-card>

    <app-expandable-card title="Pixel counter" icon="color-filter-outline">
      <ion-button class="picker-button" expand="block" [fill]="pickColorActive ? 'solid' : 'outline'"
                  (click)="pickColorActive=!pickColorActive">
        Pick color
      </ion-button>
      <div class="flex picker-info">
        <div class="picker" [ngStyle]="{backgroundColor: pickedColor?.colorString}">

        </div>
        <span class="flex-1 text-left">{{pixelCount}} px</span>
      </div>
    </app-expandable-card>


    <app-expandable-card title="Crop Image" icon="crop">

      <ion-button class="picker-button" expand="block"
                  [fill]="(canvasActions.activeActions | async).includes(canvasActions.actions.CUTTING) ? 'solid' : 'outline'"
                  (click)="canvasService.cropObject()">
        Crop Image
      </ion-button>
      <ion-button *ngIf="(canvasActions.activeActions | async).includes(canvasActions.actions.CUTTING)" class="picker-button" expand="block" [fill]="'outline'">
        Cancel
      </ion-button>
    </app-expandable-card>
  </ion-list>
</ng-template>

<input #imageInput
       type="file"
       accept="image/*"
       hidden
       (change)="processFile($event, imageInput)">
